doctype
html(lang="es")
  head
    include modules/head
    link(rel="stylesheet" href="css/dropzone.css")
    link(rel="stylesheet", href="css/datedropper.css")
    link(rel="stylesheet", href="css/my-style.css")
  body#eventbody
    .loader
      img(src="https://cdn.dribbble.com/users/825103/screenshots/3130661/web_loader_dribbble.gif", alt="", srcset="")
    include modules/sidebar
    include modules/formeventos
    script(src="js/eventos-rest-client.js")
    include modules/scripts