doctype
html(lang="es")
  head
    include modules/head
    link(rel="stylesheet" href="css/dropzone.css")
  body#eventbody
    include modules/sidebar
    include modules/formeventos
    include modules/scripts