doctype
html(lang="es")
  head
    include modules/head
  body
    script(src="js/fb.js")
    include modules/sidebar
    include modules/planeta
    script(src="https://unpkg.com/packery@2/dist/packery.pkgd.js")
    script(src="https://unpkg.com/draggabilly@2/dist/draggabilly.pkgd.js")
    include modules/scripts
    

    