.conteinerpageevent
    .conteinform
        button.collapsible 
          h3 Crear Evento
        .formevent#loadpost
          img(src="https://file.mockplus.com/image/2018/04/d938fa8c-09d3-4093-8145-7bb890cf8a76.gif" alt="Loading..." id="loadingpost" style="display:none; object-fit: contain;")
          form(action="").formflexe
            .formleft
              .formgroup
                .columf.w50
                  label(for="nombre")
                    b Nombre
                  input(type="text", name="nombre" id="evname" required)
                  label(for="Descripcion")
                    b Descripcion corta
                  textarea(name="Descipcion", id="descev" cols="10", rows="10")
                input(type="file" name="file" id="file" class="inputfile" data-multiple-caption="{count} files selected" multiple)
                label(for="file")
                  b(class="bimgtext") <i class="fas fa-cloud-upload-alt"></i> 
                    span Arrastra y tira las imagenes aca
              //- Mas adelante se implementara un mejor upload Files
              label(for="Desclarge")
                b Descripcion larga
              textarea(name="Desclarge", cols="10", rows="5")
            .formright
              .formgroup
                .columf.w45
                  label(for="Desde")
                    b Desde
                  input(id="desdedate" type="text" data-large-mode="true" data-theme="my-style" data-lang="es" data-max-year="2030" data-format="d-m-Y" name="desde" required)
                  label(for="desde")
                    b Nombre y apellido
                  input(type="text" name="Nombre" required)
                  label(for="address")
                    b Direccion
                  input(type="text" name="address" id="address" required)
                  label(for="precio")
                    b Pago
                  input(type="text" name="precio" id="precio" required)
                  .checkcontain
                    span 
                      b Propio
                    label(id="labelch" class="switch")
                      input(type="checkbox" checked)
                      span.slider.round
                .columf.w45
                  label(for="Hasta")
                    b Hasta
                  input(id="hastadate" type="text" data-large-mode="true" data-theme="my-style" data-lang="es" data-max-year="2030" data-format="d-m-Y" name="Hasta" required)
                  label(for="mail")
                    b Mail
                  input(type="text" name="mail" required)
                  label(for="localidad")
                    b Localidad
                  input(type="text" name="localidad" required)
                  label(for="link")
                    b Link
                  input(type="text" name="link" id="link" required)
                  .checkcontain
                    span 
                      b Destacado
                    label(id="labelch" class="switch")
                      input(type="checkbox" checked)
                      span.slider.round
              button(id="btnsubmitevent" type="submit")
                span Subir <i class="fas fa-external-link-alt"></i>
    .conteinform2
        button.collapsible 
          h3 Todos los Eventos
        #allevents
#show_test