.loader
    img(src="https://cdn.dribbble.com/users/825103/screenshots/3130661/web_loader_dribbble.gif", alt="", srcset="")
.container.column
    span
        strong Ordenar
        button.toggle-drag-button
    .contentplaneta
        .grid
            .gutter-sizer
            .grid-item.grid-item--height2
                #likes
            .grid-item.grid-item--height2
            .grid-item.grid-item--height2
            .grid-item.grid-item--height2
            .grid-item.grid-item--width2.grid-item--height2
            .grid-item.grid-item--width2.grid-item--height6
                #feedfb
            .grid-item.grid-item--width2 ...
            .grid-item ...
            .grid-item.grid-item--height2
        //-#likes
        //-#feedfb