#sidebar
      .topside
        h1 Panel Sustentate
      label(for="toggle" onclick="toggleSidebar()") &#8801; 
      ul
        li 
          a(id="homea" href="index.html") <i class="fas fa-home"></i> Home
        li 
          a(id="eventosa" href="eventos.html") <i class="far fa-calendar"></i> Eventos
        li 
          a(id="configa" href="") <i class="fas fa-cog"></i> Configuracion
        li 
          a(id="salira" href="") <i class="fas fa-sign-out-alt"></i> Salir